<div class="login-container">
    <h2>Login</h2>
    
    <!-- Reactive form -->
    <form [formGroup]="loginForm">
      <!-- PrimeNG InputText for username -->
      <div class="form-group">
        <label for="username">Email:</label>
        <input type="text" pInputText formControlName="email"/>
      </div>
  
      <!-- PrimeNG Password for password -->
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" pInputText formControlName="password"/>

      </div>
  
      <!-- PrimeNG Button to submit the form -->
      <p-button (click)="onLoginSubmit()" label="Submit"></p-button>

      <h3 routerLink="/Registration">New user</h3>
    </form>
  </div>
<p-toast></p-toast>
  